<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>48233867824-b9ftthjpgd3ite55hls49e82nu6j3crj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.48233867824-b9ftthjpgd3ite55hls49e82nu6j3crj</string>
	<key>API_KEY</key>
	<string>AIzaSyCcubTfjsud2DGk8P9mptRAPHbHxqBtqPs</string>
	<key>GCM_SENDER_ID</key>
	<string>48233867824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.d9tingontheyard.CivicZeroApp</string>
	<key>PROJECT_ID</key>
	<string>civiczero-c5bb8</string>
	<key>STORAGE_BUCKET</key>
	<string>civiczero-c5bb8.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:48233867824:ios:eb9f81777bf3d83da5dbf5</string>
</dict>
</plist>